{
  "extends": "airbnb",
  "rules": {
    "react/prefer-stateless-function": "off",
    "react/jsx-filename-extension": "off",
    "func-names": ["error", "never"],
    "no-console": "off",
    "arrow-body-style": "off",
    "class-methods-use-this": "off"
  },

  "globals": {
    "document": true,
    "it": true,
    "xit": true,
    "beforeEach": true,
    "afterEach": true,
    "window": true,
    "describe": true,
    "navigator": true,
    "URL": true,
    "fetch": true
  }
}
