/*-------------------------------------------------------------------------------
App
-------------------------------------------------------------------------------*/
#top {
  height: calc(100% - 50px);
  padding-top: 50px;
  padding-bottom: 0;
}

/* CSSTransition */
.fade-enter {
  opacity: 0;
}
.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity .25s ease-in;
}

/*
* MEDIA QUERY SP
*/
@media screen and (max-width:600px){
  #top {
    width: 100%;
    height: calc(100% - 40px);
    max-width: 100%;
    margin-left: 0;
    margin-right: 0;
    padding-top: 40px;
  }
}