/* map-lable */
.map-lable {
  position: absolute;
  top: 50px;
  padding: 2px 10px;
  margin-top: 10px;
  margin-left: 10px;
  background-color: rgba(0, 0, 0, .75);
  border: 1px solid #ffffff;
  border-radius: 2px;
  color: #ffffff;
  font-family: 'Kaushan Script', cursive;
  font-size: 18px;
  text-align: center;
  z-index: 1;
}