#add-event {
  padding-top: 50px;
}
#add-event .mui-button {
  margin-top: 40px;
}

/* colPriceDate */
.colPriceDate,
.colTime {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.colPriceDate .inputHalf,
.colTime > div {
  width: 47% !important;
}
.colPriceDate .inputHalf > div,
.colTime > div .inputHalf {
  width: 100% !important;
}


/*
* MEDIA QUERY SP
*/
@media screen and (max-width:600px){
  #add-event {
    padding-top: 40px;
  }
  .inputHalf {
    width: 100% !important;
  }
}