#confirmation .note {
  margin-top: 10px;
}

#confirmation .link {
  margin-top: 40px;
  margin-left: 60px;
}

.confirmTtl {
  line-height: 1.2;
}


/*
* MEDIA QUERY SP
*/
@media screen and (max-width:600px){
  #confirmation .link {
    margin-top: 20px;
    margin-left: 50px;
  }
}