/* image-box
 -------------------------------------------------------------------------------*/
.image-box {
  width: 100%;
  max-height: 500px;
}
.image-box img {
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 500px;
}
.event-image {
  width: 100%;
}

/* event-details-table
 -------------------------------------------------------------------------------*/
.event-details-table {
  width: 100%;
  padding-top: 20px;
}
.event-details-table .row {
  margin-top: 10px;
}
.event-details-table td:nth-child(1) {
  width: 1px;
}
.event-details-table td {
  padding: 10px;
}
.event-details-table p {
  line-height: 1.5em;
}

.event-map {
  margin-top: 20px;
  height: 300px;
}

.map-container {
  height: 0px;
  overflow: hidden;
  transition: all 200ms ease;
}

.expanded {
  height: 320px;
}

#event-details .title {
  line-height: 1.3;
}

#event-details .icon {
  margin-right: 10px;
}

#event-details .row {
  display: flex;
}

#event-details .date {
  width: 67px;
  padding: 30px 30px 30px 0;
}

#event-details .month {
  font-size: 20px;
}

#event-details .day {
  font-size: 30px;
}

#event-details .pane {
  margin-top: 30px;
}

#event-details .pane .block {
  padding: 15px;
}

#event-details .venue {
  padding-right: 10px;
}

/*
* MEDIA QUERY SP
*/
@media screen and (max-width:600px){
  .event-details-table {
    padding-top: 6px;
  }
  #event-details .date {
    padding: 16px 16px 16px 0px;
  }
  #event-details .pane {
    margin-top: 16px;
  }
}