/*-------------------------------------------------------------------------------
 FOOTER
 -------------------------------------------------------------------------------*/
#footer {
  width: 100%;
  height: 80px;
}

#copyright {
  font-family: 'Gothic';
  color: beige;
}