/*-------------------------------------------------------------------------------
 FOOTER
 -------------------------------------------------------------------------------*/
#footer {
  width: 100%;
  height: 80px;
  background-color: black;
}
#copyright {
  font-family: 'Gothic';
  color: beige;
}