/*-------------------------------------------------------------------------------
 FOOTER
 -------------------------------------------------------------------------------*/
#footer {
  width: 100%;
  height: 80px;
}

#copyright {
  font-family: 'Gothic';
  color: beige;
}

/*
* MEDIA QUERY SP
*/
@media screen and (max-width:600px){
  #footer {
    height: 40px;
  }
  #copyright {
    font-size: 14px;
  }
}