header {
  position: fixed;
  top: 0px;
  left: 0px;
  height: 80px;
  width: 100%;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.7);
  box-sizing: border-box;
  z-index: 2;
}

#header-inner {
  justify-content: space-between;
  align-items: center;
}

/* logo
 -------------------------------------------------------------------------------*/
.logo {
  height: 36px;
  background: url("/logo-solid.png") left no-repeat;
  background-size: 32px 32px;
  padding-left: 40px;
  font-family: 'Chelsea';
  font-size: 24px;
  color: beige;
  z-index: 1;
  transition: all .2s;
}
.logo:hover {
  opacity: .8;
}

/* gnav
 -------------------------------------------------------------------------------*/
.gnav-list li {
  position: relative;
  margin-left: 10px;
  margin-right: 10px;
  line-height: 1.25;
  cursor: pointer;
}

.gnav-list li:before,
.gnav-list li:after {
  position: absolute;
  display: block;
  content: '';
  width: 0;
  bottom: 0;
  border-bottom: 1px solid beige;
  transition: all .2s linear;
}

.gnav-list li:before {
  left: 0;
}
.gnav-list li:after {
  right: 0;
}

.gnav-list li:hover:before,
.gnav-list li:hover:after {
  width: 50%;
}

.gnav-list-link,
.gnav-list-link:hover {
  font-family: 'Gothic';
  font-size: 16px;
  color: beige;
}


/*
* MEDIA QUERY SP
*/
@media screen and (max-width:600px){
  header {
    height: 40px;
  }
  .gnav-list li {
    margin-left: 5px;
    margin-right: 5px;
  }
  .gnav-list-link {
    font-size: 14px;
  }
  .logo {
    height: 26px;
    line-height: 26px;
    background-size: 22px 22px;
    padding-left: 28px;
    font-size: 16px;

  }
  .gnav {
    padding-bottom: 4px;
  }
}