/*-------------------------------------------------------------------------------
 HEADER
 -------------------------------------------------------------------------------*/
header {
  position: fixed;
  top: 0px;
  left: 0px;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  width: 100%;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.7);
  box-sizing: border-box;
  z-index: 1;
}

#header-inner {
  height: 100%;
  justify-content: space-between;
  align-items: center;
}

/* logo
 -------------------------------------------------------------------------------*/
.logo {
  font-size: 2rem;
  font-family: 'Chelsea';
  color: beige;
}

/* gnav
 -------------------------------------------------------------------------------*/
.gnav-list li {
  position: relative;
  margin-left: 10px;
  margin-right: 10px;
  cursor: pointer;
}

.gnav-list li:before,
.gnav-list li:after {
  position: absolute;
  display: block;
  content: '';
  width: 0;
  bottom: 0;
  border-bottom: 1px solid beige;
  transition: all .2s linear;
}

.gnav-list li:before {
  left: 0;
}
.gnav-list li:after {
  right: 0;
}

.gnav-list li:hover:before,
.gnav-list li:hover:after {
  width: 50%;
}

.gnav-list-link,
.gnav-list-link:hover {
  font-family: 'Gothic';
  font-size: 1.2rem;
  color: beige;
}