/*-------------------------------------------------------------------------------
 COMMON
 -------------------------------------------------------------------------------*/
.flex { display: flex; }
.grow { flex-grow: 1; }
.column { flex-direction: column; }
.center { justify-content: center; align-items: center; }
.spaceBetween { justify-content: space-between }
.horiCenter { justify-content: center }
.vertCenter { align-items: center }
.restrict-width {
  width: 800px;
  min-width: 50%;
  max-width: 95%;
  margin-left: auto;
  margin-right: auto;
}
.blue { color: #2AABC2; }
.white { color: #E7E7B9; }
.dark { background-color: #252525; color: beige; }
.black { background-color: black; color: beige; }

/***** Button *****/
/* primaryButton */
.primaryButton {
  transition: opacity .4s;
}
.primaryButton > button {
  height: 40px !important;
  background: #daa520 !important;
  color: #ffffff !important;
}
.primaryButton > button:hover {
  opacity: .7;
}
.primaryButton span {
  font-size: 16px !important;
  color: #ffffff !important;
}
/* mui-button - material ui */
.mui-button span {
  text-transform: none !important;
}

/* TextField - material ui */
.inputHalf {
  width: 50% !important;
}
.inputFull {
  width: 100% !important;
}

/*-------------------------------------------------------------------------------
 Index.js
 -------------------------------------------------------------------------------*/
#router, #root {
  height: 100%;
}

main {
  width: 100%;
  height: auto;
  padding-top: 110px;
  padding-bottom: 40px;
  min-height: calc(100% - 80px);
}

/*-------------------------------------------------------------------------------
 App.js
 -------------------------------------------------------------------------------*/
#app {
  /* 80px: footer width*/
  height: calc(100% - 80px);
  padding-top: 80px;
  padding-bottom: 0;
}

.gm-style-cc { display:none; }


/*
* MEDIA QUERY SP
*/
@media screen and (max-width:600px){
  main {
    padding-top: 90px;
    padding-bottom: 20px;
  }
}

