/*-------------------------------------------------------------------------------
 COMMON
 -------------------------------------------------------------------------------*/
.flex { display: flex; }
.grow { flex-grow: 1; }
.column { flex-direction: column; }
.center { justify-content: center; align-items: center; }
.spaceBetween { justify-content: space-between }
.horiCenter { justify-content: center }
.vertCenter { align-items: center }
.restrict-width {
  width: 800px;
  min-width: 50%;
  max-width: 90%;
  margin-left: auto;
  margin-right: auto;
}
.blue { color: #2AABC2; }
.white { color: #E7E7B9; }
.dark { background-color: #252525; color: beige; }
.black { background-color: black; color: beige; }

/***** Button *****/
/* mui-button - material ui */
.mui-button span {
  text-transform: none !important;
}

/* TextField - material ui */
.inputHalf {
  width: 50% !important;
}
.inputFull {
  width: 100% !important;
}

/*-------------------------------------------------------------------------------
 Index.js
 -------------------------------------------------------------------------------*/
#router, #root {
  height: 100%;
}

main {
  width: 100%;
  height: auto;
  padding-top: 110px;
  padding-bottom: 40px;
  min-height: calc(100% - 80px);
}

/*-------------------------------------------------------------------------------
 App.js
 -------------------------------------------------------------------------------*/
#app {
  /* 80px: footer width*/
  height: calc(100% - 80px);
  padding-top: 80px;
  padding-bottom: 0;
}

.gm-style-cc { display:none; }

/*.toast {*/
  /*position: fixed;*/
  /*top: 80px;*/
  /*width: 120px;*/
  /*height: 30px;*/
  /*color: #2c2c2c;*/
  /*background-color: rgba(255, 255, 255, 0.9);*/
  /*box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 6px, rgba(0, 0, 0, 0.12) 0px 1px 4px;*/
  /*border-radius: 0px 0px 2px 2px;*/
  /*padding-top: 1px;*/
  /*font-weight: bold;*/
  /*text-align: center;*/
  /*z-index: 1;*/
/*}*/

.toast {
  position: fixed;
  top: 80px;
  width: 120px;
  height: 30px;
  color: #2c2c2c;
  background-color: rgba(255, 255, 255, 0.9);
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 6px, rgba(0, 0, 0, 0.12) 0px 1px 4px;
  border-radius: 0px 0px 2px 2px;
  padding-top: 1px;
  font-weight: bold;
  text-align: center;
  z-index: 1;
  margin-top: 5px;
  margin-bottom: 5px;
}


/*
* MEDIA QUERY SP
*/
@media screen and (max-width:600px){
  main {
    padding-top: 90px;
    padding-bottom: 20px;
  }
}

