#payment-info-table li {
  align-items: center;
  height: 68px;
}

#payment-info-table .listTtl,
#payment-info-table .listItem {
  padding: 10px;
}

#payment-info-table .listTtl {
  min-width: 150px;
  text-align: right;
}

#payment-info-table .listItem {
  width: calc(100% - 150px);
}

#payment-info-table td:nth-child(1) {
  width: 150px;
  text-align: right;
}

.underline {
  border-bottom: 1px solid #E0E0E0;
}

#expiry-date {
  width: 100px;
}

#cvc {
  width: 60px;
  white-space: nowrap;
  padding: 10px;
}

.orderButton {
  margin-top: 20px;
}

.payment-paper {
  padding: 10px 0;
  width: 500px;
  max-width: 100%;
  margin-bottom: 30px;
}

.payment-table-row {
  width: 100%;
}

.payment-table-cell1 {
  width: 50%;
  text-align: center;
}

.payment-table-cell2 {
  width: 25%;
  text-align: center;
}

.payment-table-cell3 {
  width: 25%;
  text-align: center;
}

/* react-stripe-elements */
#card-holder-field,
#card-holder-field::placeholder,
#address-field::placeholder,
#address-field,
#email-field,
#email-field::placeholder {
  font-family: sans-serif !important;
  top: -5px;
}

/*
* MEDIA QUERY SP
*/
@media screen and (max-width:600px) {
  #payment-info-table li {
    flex-direction: column;
    height: auto;
    margin-top: 5px;
    text-align: left;
  }
  #payment-info-table .listTtl,
  #payment-info-table .listItem,
  #cvc {
    width: 100%;
    text-align: left;
    padding: 0 8px;
  }
  #payment-info-table .listTtl.adjustment {
    margin-top: 5px;
  }
  #payment-info-table .listItem > div {
    height: 36px !important;
  }
  #payment-info-table .listItem > div.underline {
    height: 28px !important;
  }
  #cvc {
    margin-top: 10px;
  }
}