#user-info-table {
  width: 100%;
}

#user-info-table td:nth-child(1) {
  width: 30%;
  padding: 0 15px 0 30px;
}

#user-info-table, #order-history-table {
  margin-top: 20px;
}

th, td {
  padding: 10px;
}
th {
  font-size: 17px;
  font-weight: bold;
}
#profile-left {
  margin-right: 20px;
}
#profile-picture {
  height: 200px;
}

#tabs {
  width: 100%;
}
.tab {
  width: 50%;
  padding: 20px;
  text-align: center;
  font-weight: bold;
  font-size: 18px;
  cursor: pointer;
}

.tab.selected {
  border-bottom: 1px solid black;
}

#order-history-table {
  width: 100%;
}

#order-history-table td {
  padding: 20px;
  text-align: center;
}


/*
* MEDIA QUERY SP
*/
@media screen and (max-width:600px){
  th {
    font-size: 16px;
  }
  #user {
    flex-direction: column;
  }
  #profile-left {
    margin-right: 0;
  }
  #profile-picture {
    width: 100%;
    height: auto;
  }
  #tabs {
   margin-top: 10px;
  }
  .tab {
    padding: 10px;
  }
  #user-info-table,
  #order-history-table {
    font-size: 14px;
  }
  #user-info-table th,
  #user-info-table td,
  #order-history-table th,
  #order-history-table td {
    padding: 5px;
  }
  #user-info-table td:nth-child(1) {
    width: 25%;
    padding: 0 8px;
    text-align: left;
  }
  #user-info-table th,
  #user-info-table td {
    text-align: left;
  }
  #order-history-table th,
  #order-history-table td {
    text-align: center;
  }
}