/*-------------------------------------------------------------------------------
 InfoWindow
 -------------------------------------------------------------------------------*/
/* info-window-inner
 -------------------------------------------------------------------------------*/
.info-window-inner {
  min-width: 150px;
  font-family: LogoTypeGothic;
  transition: opacity .2s;
}
.info-window-inner:hover {
  opacity: .7;
}

.info-item-wrapper {
  margin-top: 5px;
}

/* info-window-heading/subttl
 -------------------------------------------------------------------------------*/
.info-window-heading2,
.info-window-heading3,
.info-window-subttl {
  color: #000000;
}
.info-window-heading2 {
  padding-top: 3px;
  font-size: 20px;
  font-weight: 600;
}
.info-window-heading3 {
  margin-left: 5px;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.2;
}
.info-window-subttl {
  margin-left: 5px;
  font-size: 15px;
  line-height: 1.25;
}

.icon-adjust {
  margin-right: 10px;
}